.tabela-wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6f7ff;
}

